<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>nonSpot</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <link rel="stylesheet" href="{% static 'home.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/users/home_view">nonSpot</a></h1>
        </div>

        <div align="center" class="content_container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
