
{% extends 'base.html' %}

{% block content %}
        <form class='button-form' action='/evaluations/new_analysis_view/' method='GET'>
            {% csrf_token %}
            <button type="submit" style="margin: 1%;">Nuevo análisis</button>
        </form>
        <form class='button-form' action='/evaluations/my_analysis_view/' method='POST'>
            {% csrf_token %}
            <button type="submit" style="margin: 1%;">Mis análisis</button>
        </form>
        <form class='button-form' action='/users/profile_view/' method='GET'>
            {% csrf_token %}
            <button type="submit" style="margin: 1%;">Perfil</button>
        </form>
        <form class='button-form' action='/users/logout_view/' method='POST'>
            {% csrf_token %}
            <button type="submit" style="margin: 1%;">Log out</button>
        </form>
{% endblock %}