
{% extends 'base.html' %}

{% block content %}
        <form class='new-analysis-link' action='/evaluations/new_analysis_view/' method='GET'>
            {% csrf_token %}
            <button type="submit">New analysis</button>
        </form>
        <form class='my-analysis-link' action='/evaluations/my_analysis_view/' method='POST'>
            {% csrf_token %}
            <button type="submit">My analysis</button>
        </form>
        <form class='logout-link' action='/users/logout_view/' method='POST'>
            {% csrf_token %}
            <button type="submit">Log out</button>
        </form>
        <form class='profile-link' action='/users/profile_view/' method='GET'>
            {% csrf_token %}
            <button type="submit">Profile</button>
        </form>
{% endblock %}