
{% extends 'base.html' %}

{% block content %}
    <div class="table-container">
        <table class="table mb-0">
            <thead>
                <tr class="header-row">
                    <th>Fecha</th>
                    <th>Nombre</th>
                    <th>Imagen</th>
                    <th>Resultados</th>
                </tr>
            </thead>
            <tbody>
                {% for evaluation in evaluations %}
                <tr>
                    <td>{{ evaluation.date }}</td>
                    <td>{{ evaluation.name }}</td>
                    <td>
                        {% if evaluation.image %}
                        <img src="{{ evaluation.image.url }}" width="500" height="250">
                        {% else %}
                        <p>Archivo no encontrado</p>
                        {% endif %}
                    </td>
                    <td>
                        <div class="r-container-1">
                            <table class="results-table">
                                <thead>
                                    <th class = "rrow">Lunar normal</th>
                                    <th class = "rrow">Lunar anormal</th>
                                    <th class = "rrow">Melanoma</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class = "rrow">{{ evaluation.results.LN }}</td>
                                        <td class = "rrow">{{ evaluation.results.LA }}</td>
                                        <td class = "rrow">{{ evaluation.results.ML }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form class='home-link' action='/users/home_view/' method='GET'>
            {% csrf_token %}
            <button type="submit">Volver</button>
        </form>
    </div>
{% endblock %}