<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My analysis</title>
</head>
<body>
    <h1>Mis Análisis</h1>
    <table class="table mb-0">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Nombre</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>
            {% for evaluation in evaluations %}
            <tr>
                <td>{{ evaluation.date }}</td>
                <td>{{ evaluation.name }}</td>
                <td>
                    {% if evaluation.image %}
                    <img src="{{ evaluation.image.url }}">
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form class='home-link' action='/users/home_view/' method='GET'>
        {% csrf_token %}
        <button type="submit">Volver</button>
    </form>
</body>
</html>