
{% extends 'base.html' %}

{% block content %}
        <div class="signup-form">
            <form class="site-form" action="/users/signup_view/" method="POST">
                <div class="signup-form-text">
                    {% csrf_token %}
                    {{ form }}
                </div>
                <div class="signup-form-button"><input type="submit" value="Sign Up"></div>
            </form>
            <div class="signup-form.return">
                <form action="/users/login_view/" method="GET">
                    {% csrf_token %}
                    <input type="submit" value="Volver">
                </form>
            </div>
        </div>
{% endblock %}